<div class="theme-popover-mask"></div>
<div class="mb1"></div>


<div class="city">
    <p class="city-block" data-is-open="0"></p>
    <div>
        <ul>
    <foreach name="city_list" item="vo">
        <php>
            $str = "#this";
            if($vo['shequ'] == 1){
                $str = U('Contingent/IndexShow/index_shequ',array('location_id'=>$vo['id']));
            }
            if($vo['is_effect']==1){
                $str = U('Contingent/IndexShow/index_street',array('location_id'=>$vo['id']));
            }
            if($vo['status']==1){
                $str = U('Contingent/IndexShow/index_city',array('location_id'=>$vo['id']));
            }
        </php>
        <li><a href="{$str}" <eq name="vo['status']" value="1">style="color:#ff0000;"</eq>>{$vo.name}</a><p></p></p></li>
      </foreach>
        </ul>
    </div>
</div>


<div class="floating-window">
    <ul>
        <div class="theme-popover">
        <div class="tips-del">
            <img src="__INDEX__Common/images/gb.jpg" width="30" height="30" class="error"/>
            <h1>我要报名</h1>
            <ul>
            <form id="form1" name="form1" method="post" action="{:U('Index/Index/insert_bm')}">
                <li>
                    姓　　名:
                    <input type="text" name="name" value=""/>
                </li>
                <li>
                    年　　龄:
                    <input type="text" name="age" value=""/>
                </li>
                <li>
                    联系方式:
                    <input type="text" name="tel" value=""/>
                </li>
                <li>
                    家庭住址:
                    <input type="text" name="address" value=""/>
                </li>
                <li>
                    报名人数:
                    <input type="text" name="bm_num" value=""/>
                </li>
                <input name="提交" type="submit" value="提交报名"/>
            </form>
            </ul>
        </div>
        </div>
        <!--比赛规则-->
        <div class="theme-popover1">
         <div class="ruler-del">
         <php> $info_37 = get_arctype_info(37); </php>
	 		<img src="__INDEX__Common/images/gb.jpg" width="30" height="30" class="error1"/>
			<h1>{$info_37.typename}</h1>
			<ul>
    			<li>{$info_37.content|htmlspecialchars_decode}</li>
    		</ul>
		</div>
		</div>
        <!--比赛规则结束-->
    <!--投票规则-->
        <div class="theme-popover2">
            <div class="ruler-del">
                <php> $info_37 = get_arctype_info(38); </php>
                <img src="__INDEX__Common/images/gb.jpg" width="30" height="30" class="error3"/>
                <h1>{$info_38.typename}</h1>
                <ul>
                    <li>{$info_38.content|htmlspecialchars_decode}</li>
                </ul>
            </div>
        </div>
        <!--投票规则结束-->
        <div class="tp-secces">
        	<img src="__INDEX__Common/images/gb-2_03.jpg" width="17" height="17" class="error2"/>
			<ul>
    			<li><span>提示<br/>您已投票成功</span></li>
    		</ul>
		</div>
        <li><p class="return" id="gotoTop">返回顶部</p></li>
        <!-- <li><p class="tips">我要报名</p></li>
        <li><a href="index.php?m=Archives&c=IndexArctype&a=index&t_id=14"><p class="download">资料下载</p></a></li>
        <li><p class="ruler">比赛规则</p></li>
        <li><p class="vote-ruler">投票规则</p></li>
        <li><p class="red-ewm" data-is-open="0">二维码</p></li>
       <p class="click-ewm"><img src="__INDEX__Common/images/click-ewm.png" alt=""/></p> -->
    </ul>
</div>
<!--二维码 左边--><div class="le_gb" title="扫码关注微信"></div>
<div class="left_eq">
	<div>手机扫码关注微信每天可以投2票哦</div>
	<img src="__INDEX__Common/images/eq.jpg" width="114" height="114" />	<span>关闭</span>
</div>

<!--二维码 右边--><div class="ri_gb" title="扫码体质测试"></div>
<div class="right_eq">
	<h4>中医体质测试 </h4>
	<img src="__INDEX__Common/images/tzcs.png" width="114" height="114" />
	<span>关闭</span>
</div>
<script>
	
    $(function(){
        <!--我要报名-->
        $('.tips').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover').slideDown(200);
        });
        $('.theme-popover-mask').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover').slideUp(200);
        });
        $(".error").click(function(){
            $(".theme-popover-mask").hide();
            $(".theme-popover").slideUp(200);
        });
    });
    <!--我要报名结束-->
    <!--比赛规则-->
    $(function(){
        $('.ruler').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover1').slideDown(200);
        });
        $('.theme-popover-mask').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover1').slideUp(200);
        });
        $(".error1").click(function(){
            $(".theme-popover-mask").hide();
            $(".theme-popover1").slideUp(200);
        });
    });
    <!--比赛规则结束-->
    <!--投票规则-->
    $(function(){
        $('.vote-ruler').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover2').slideDown(200);
        });
        $('.theme-popover-mask').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover2').slideUp(200);
        });
        $(".error3").click(function(){
            $(".theme-popover-mask").hide();
            $(".theme-popover2").slideUp(200);
        });
    });
    <!--投票规则结束-->
        $(window).scroll(function(){
            var v=$("body").scrollTop();
            if(v>700){
                $(".city").show();
            }
        });

    $(function(){
        $(".city>p").click(function(){
            var is_open=$(this).attr('data-is-open');
            if(is_open==0){
                $(this).removeClass("city-block");
                $(this).addClass("city-none");
                $(".city").animate({left:"0px"}).show();
                $(this).attr('data-is-open',1);
            }
           else{
                $(this).removeClass("city-none");
                $(this).addClass("city-block");
                $(".city").animate({left:"-200px"}).show();
                $(this).attr('data-is-open',0);
           }
        });
    });


   $(function(){

       $(".red-ewm").hover(function() {
           $(".mb1").css({display: "block",zindex:"1100"});
           $(".click-ewm").show();
       },function(){
           $(".mb1").css({display: "block",zindex:"1100"});
           $(".click-ewm").hide();
       });

           $(".mb1").click(function(){
               $(this).hide();
               $(".click-ewm").hide();
           });
           $(".click-ewm").click(function(){
               $(this).hide();
               $(".click-ewm").hide();
           });
   });


function gotoTop(min_height){ 

$("#gotoTop").click(//定义返回顶部点击向上滚动的动画 
function(){$('html,body').animate({scrollTop:0},900);
})
}
gotoTop(); 
</script>
<script>		$(".left_eq span").click(function(){            $(".left_eq").hide();        });        $(".le_gb").hover(function(){            $(".left_eq").show();        });		
        $(".right_eq span").click(function(){
            $(".right_eq").hide();
        });        $(".ri_gb").hover(function(){            $(".right_eq").show();        });        
    </script>