<div class="footer">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9b8347022dae9d1a4eca1465cfbb8e4b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?38825a55bac0509dba506948cd6314bb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>



    <div class="footer1"></div>
    <div class="footer2">
        <ul class="footer-logo">
            <li>全国社区健康舞大赛</li>
        </ul>
        <ul class="footer-list">
            <li>
                <php> $info_36 = get_arctype_info(36); </php>
                <php> $info_37 = get_arctype_info(37); </php>
                <php> $info_38 = get_arctype_info(38); </php>
                <p><a href="{$info_36.url}">{$info_36.typename}</a></p>
                <p><a href="{$info_37.url}">{$info_37.typename}</a></p>
                <p><a href="{$info_38.url}">{$info_38.typename}</a></p>
            </li>
            <li>
               <img src="__INDEX__Common/images/line1.png" alt=""/>
            </li>
            <li>
                <php> $info_28 = get_arctype_info(28); </php>
                <php> $info_29 = get_arctype_info(29); </php>
                <php> $info_34 = get_arctype_info(34); </php>
                <p><a href="{$info_28.url}">{$info_28.typename}</a></p>
                <p><a href="{$info_29.url}">{$info_29.typename}</a></p>
                <p><a href="{$info_34.url}">{$info_34.typename}</a></p>
            </li>
            <li>
                <img src="__INDEX__Common/images/line1.png" alt=""/>
            </li>
            <li>
                <php> $info_39 = get_arctype_info(39); </php>
                <php> $info_40 = get_arctype_info(40); </php>
                <php> $info_41 = get_arctype_info(41); </php>
                <p><a href="{$info_39.url}">{$info_39.typename}</a></p>
                <p><a href="{$info_40.url}">{$info_40.typename}</a></p>
                <p><a href="{$info_41.url}">{$info_41.typename}</a></p>
            </li>
            <li class="copyright">{:C('PUBLIC_FOOT_INFO')} <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258506973'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1258506973' type='text/javascript'%3E%3C/script%3E"));</script></li>
        </ul>
        <ul class="footer-ewm">
            <li>官方微信</li>
        </ul>
    </div>
</div>
 <script>
 $(function(){

    $(".fsq").hover(function(){
        $(".drop-down").stop(true,true).slideDown();
    },
    function(){
        $(".drop-down").stop(true,true).slideUp();
    });
});    
</script>
        
