<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<if condition="$page_head_info['keywords'] neq ''"><else />{$Think.config.PUBLIC_SEO_KEYWORD}</if>" />
	<meta name="description" content="<if condition="$page_head_info['description'] neq ''"><else />{$Think.config.PUBLIC_SEO_DESCRIPTION}</if>" />
    <title><if condition="$page_head_info['title'] neq ''"><else />{$Think.config.PUBLIC_SEO_TITLE}</if></title>
<link rel="stylesheet" href="__INDEX__Common/css/common.css">
<link rel="stylesheet" href="__INDEX__Common/css/style.css">
<link rel="stylesheet" href="__INDEX__../Common/Common/css/pagelist.css">
<script type="text/javascript" src="__INDEX__Common/js/jquery.js"></script>
<script type="text/javascript" src="__INDEX__Common/js/ScrollPic.js"></script>
<script type="text/javascript" src="__INDEX__Common/js/vote.js"></script>
</head>

<body>
	