<include file="Admin@Public:page_head" />
<div class="wrap jj">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('Location/index')}">城市及街道</a></li>
			<li><a href="{:U('Location/add')}">添加城市及街道</a></li>
		</ul>
		<form method="post" class="J_ajaxForm" action="{:U('Contingent/Location/update_sort')}">
			<div class="table-actions">
				<button type="submit" class="btn btn-primary btn-small btn_submit J_ajax_submit_btn">排序</button>
			</div>
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="50">ID</th>
						<th width="50">排序</th>
						<th>城市及街道</th>
						<th>投票开始时间</th>
						<th>投票结束时间</th>
						<th width="100">是否显示</th>
						<th width="100">街道赛高亮</th>
						<th width="100">社区赛高亮</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
                    <foreach name="list" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.sort|set_sort_input=$vo['id']}</td>
					    <td>{$vo.name}</td>
					    <td>{$vo.time_vote_stat|turn_time}</td>
					    <td>{$vo.time_vote_end|turn_time}</td>
						<td>{$vo.status|check_effect}</td>
						<td>{$vo.is_effect|check_effect}</td>
						<td>{$vo.shequ|check_effect}</td>
						<td><a href="{:U('Contingent/Location/edit',array('id'=>$vo['id']))}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Contingent/Location/foreverdelete',array('id'=>$vo['id']))}">删除</a></td>
                    </tr>
                    <foreach name="vo.value" item="v">
					<tr>
						<td>{$v.id}</td>
						<td>{$v.sort|set_sort_input=$v['id']}</td>
					    <td>　 ┝ {$v.name}</td>
					    <td>{$v.time_vote_stat|turn_time}</td>
					    <td>{$v.time_vote_end|turn_time}</td>
						<td>{$v.status|check_effect}</td>
						<td>--</td>
						<td>--</td>
						<td><a href="{:U('Contingent/Location/edit',array('id'=>$v['id']))}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Contingent/Location/foreverdelete',array('id'=>$v['id']))}">删除</a></td>
                    </tr>
                    </foreach>
				   </foreach>
                </tbody>
				<tfoot>
					<tr>
						<th width="50">排序</th>
						<th width="50">ID</th>
						<th>城市及街道</th>
						<th>是否显示</th>
						<th>是否有效</th>
						<th>操作</th>
					</tr>
				</tfoot>
			</table>
			<div class="table-actions">
				<button type="submit" class="btn btn-primary btn-small btn_submit J_ajax_submit_btn">排序</button>
			</div>
		</form>
	</div>
<include file="Admin@Public:page_foot" />
