<include file="Admin@Public:page_head" />

<div class="wrap J_check_wrap">

		<ul class="nav nav-tabs">

			<li class="active"><a href="{:U('Review/Review/index')}">往届回顾管理</a></li>

			<li><a href="{:U('Review/Review/add')}">添加往届回顾</a></li>

		</ul>

        

		<form method="post" class="J_ajaxForm" action="{:U('Review/Review/update_sort')}">

		<div class="table-actions">

					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Review/Review/foreverdelete')}" data-subcheck="true">删除</button>

			</div>



            <html:list  id="dataTable"

                        style="table table-hover table-bordered table-list"

                        name="list"

                        checkbox="true"

                        action="true"

                        title="上线项目"

                        datasource="list"

                        pagelist="{$page}"

           show="id:ID
              ,review_type|show_C='REVIEW_TYPE':届次
          		,position_type|show_C='POSITION_TYPE':名次
              ,title:节目名称
          		,title_name:表演者
          		,pic|show_img:图片
              ,time|turn_time:添加时间"
              actionlist="edit:修改, foreverdel:删除"/>

		<div class="table-actions">

					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Review/Review/foreverdelete')}" data-subcheck="true">删除</button>

			</div>

            <include file="Admin@Public:page" />

		</form>

	</div>



<include file="Admin@Public:page_foot" />

