<include file="Admin@Public:page_head" />

<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('Admin/Admin/index')}">管理员管理</a></li>
			<li class="active"><a href="#">修改密码</a></li>
		</ul>
		<form class="form-horizontal J_ajaxForm" name="myform" id="myform" action="{:U('Admin/update_password')}" method="post">
        <input type="hidden" name="id"  value="{$info.id}" />
			<div class="tabbable">
		        <div class="tab-content">
		          		<table cellpadding="2" cellspacing="2" width="100%">
							<tbody>
								<tr>
									<td width="150">旧密码:</td>
								  <td><input name="login_pass_old" type="password" class="input" placeholder="" required></td>
							  </tr>
								<tr>
									<td width="150">密码:</td>
								  <td><input name="login_pass" type="password" class="input" placeholder="至少6位数字、字母或其他字符，不可为空格" required></td>
							  </tr>
								<tr>
									<td width="150">确认密码:</td>
								  <td><input name="login_pass2" type="password" class="input" placeholder="" data-same="login_pass" required></td>
							  </tr>
							</tbody>
						</table>
                  
		        </div>
		    </div>
		     <div class="form-actions">
		           <button class="btn btn-primary btn_submit J_ajax_submit_btn"type="submit">提交</button>
		      		<a class="btn" href="{:U('Arctype/index')}">返回</a>
		      </div>
		</form>
	</div>

<include file="Admin@Public:page_foot" />