<include file="Index@Common:top" />
<div class="logo8"></div>
<include file="Index@Common:menu" />
<div class="heart-wall">
	<ul>
		<li class="heart-font">
			健康秀起来！快乐晒上来！梦想喊出来！
		</li>
		<li class="heart-ewm">
			<img src="__INDEX__Common/images/heart-ewm.png" width="125" height="134"/><a href=""><p>用微信扫二维码<span>许愿</span></p></a>
		</li>
	</ul>
</div>

<include file="Index@Common:foot" />
<include file="Index@Common:city_navigation" />
<script src="__INDEX__Common/lightbox/lightbox-plus-jquery.min.js"></script>
<include file="Index@Common:bottom" />

<script>
  $("#nav li").hover(function(){
    $(this).find(".second_nav").slideToggle();
  })
  
</script>
