<include file="Index@Common:top" />
<div class="logo8"></div>
<include file="Index@Common:menu" />
<link rel="stylesheet" href="__INDEX__Common/lightbox/lightbox.min.css">
<link rel='stylesheet' href='__INDEX__Common/css/show.css' media='screen' />
<script src="__INDEX__Common/js/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="__INDEX__Common/js/html5.js"></script>
<![endif]-->
<script src="__INDEX__Common/js/blocksit.min.js"></script>
<script>
$(document).ready(function() {

	//blocksit define
	$(window).load( function() {
		$('#container').BlocksIt({
			numOfCol: 6,
			offsetX: 8,
			offsetY: 8
		});
	});
	
	//window resize
	var currentWidth = '95%';
	$(window).resize(function() {
		var winWidth = $(window).width();
		var conWidth;
		if(winWidth < 660) {
			conWidth = 550;
			col = 2
		} else if(winWidth < 880) {
			conWidth = 770;
			col = 3
		} else if(winWidth < 1200) {
			conWidth = 1100;
			col = 4;
		} else if(winWidth < 1200) {
			conWidth = 1100;
			col = 4;
		} else if(winWidth < 1300) {
			conWidth = 1200;
			col = 4;
		} else if(winWidth < 1400) {
			conWidth = 1300;
			col = 5;
		} else if(winWidth < 1500) {
			conWidth = 1400;
			col = 5;
		} else if(winWidth < 1600) {
			conWidth = 1500;
			col = 5;
		} else if(winWidth < 1700) {
			conWidth = 1600;
			col = 5;
		} else if(winWidth < 1800) {
			conWidth = 1700;
			col = 6;
		} else if(winWidth < 1900) {
			conWidth = 1800;
			col = 6;
		} else if(winWidth < 2000) {
			conWidth = 1900;
			col = 6;
		} else {
			conWidth = '95%';
			col = 6;
		}
		
		if(conWidth != currentWidth) {
			currentWidth = conWidth;
			$('#container').width(conWidth);
			$('#container').BlocksIt({
				numOfCol: col,
				offsetX: 8,
				offsetY: 8
			});
		}
	});
});
</script>

<!--<div class="heart-wall">
	<ul>
		<li class="heart-font">
			健康秀起来！快乐晒上来！梦想喊出来！
		</li>
		<li class="heart-ewm">
			<img src="__INDEX__Common/images/heart-ewm.png" width="125" height="134"/><a href=""><p>用微信扫二维码<span>许愿</span></p></a>
		</li>
	</ul>
</div>-->


<div class="clear"></div>
 <div id="container">
	
    
    <foreach name="list" item="lt">
    <div class="grid">
		<div class="imgholder">
			<a href="{$lt.pic}" data-lightbox="example-set" data-title="{$lt.dream}"><img src="{$lt.pic}" /></a>
		</div>
		<strong>{$lt.dream}</strong>
		<div class="meta"></div>
	</div>
    </foreach>
   
	
</div>
 
<div class="clear"></div>
<php> C('listRows',30); </php>
        <div class="scott">{$page}</div>

<include file="Index@Common:foot" />
<include file="Index@Common:city_navigation" />
<script src="__INDEX__Common/lightbox/lightbox-plus-jquery.min.js"></script>
<include file="Index@Common:bottom" />
<script>
    $("#nav li").hover(function(){
        $(this).find(".second_nav").slideToggle();
    })
</script>
