<div id="sidebar" class="sidebar">
					<div class="sidebar-menu nav-collapse">
						<div class="divide-20"></div>
						<!-- SEARCH BAR -->

						<!-- /SEARCH BAR -->
						
						<!-- SIDEBAR QUICK-LAUNCH -->
						<!-- <div id="quicklaunch">
						<!-- /SIDEBAR QUICK-LAUNCH -->
						
						<!-- SIDEBAR MENU -->
						<ul>
                        
                        
							<li class="has-sub active show" data-type="1">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">会员管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('User/UserEmployers/index')}" target="myFrame_content"><span class="sub-menu-text">雇主会员</span></a></li>
									<li><a   href="javascript:void(0);" data-href="{:U('User/UserServiceProvider/index')}" target="myFrame_content"><span class="sub-menu-text">服务商会员</span></a></li>
								</ul>
							</li>
                            <li class="has-sub active show" data-type="1">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">项目管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Task/Task/index_task_employers')}" target="myFrame_content"><span class="sub-menu-text">雇主申请项目</span></a></li>
									<li><a   href="javascript:void(0);" data-href="{:U('Task/Task/index_task')}" target="myFrame_content"><span class="sub-menu-text">平台工作</span></a></li>
								</ul>
							</li>
                            
                            
                            <li class="has-sub active show" data-type="1">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">财务管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Payment/PaymentIncome/index')}" target="myFrame_content"><span class="sub-menu-text">收入记录</span></a></li>
									<li><a  href="javascript:void(0);" data-href="{:U('Payment/PaymentOutlay/index')}" target="myFrame_content"><span class="sub-menu-text">支出记录</span></a></li>
								</ul>
							</li>
                            
                            
                            
                            
                            
                            
                            
                            
                            <li class="has-sub active" data-type="2">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">系统设置</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Conf/index')}" target="myFrame_content"><span class="sub-menu-text">系统设置</span></a></li>
								</ul>
							</li>
                            
                            <li class="has-sub active" data-type="2">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">广告图片管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('AdImages/AdImages/index')}" target="myFrame_content"><span class="sub-menu-text">广告图片管理</span></a></li>
								</ul>
							</li>
                            
                            
                            <li class="has-sub active" data-type="2">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">文章管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Article/Article/index')}" target="myFrame_content"><span class="sub-menu-text">文章管理</span></a></li>
								</ul>
							</li>
                            
                            
                             <li class="has-sub active" data-type="2">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">管理员管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Admin/index')}" target="myFrame_content"><span class="sub-menu-text">管理员管理</span></a></li>
								</ul>
							</li>
                            
                            <li class="has-sub active" data-type="2">
								<a href="javascript:void(0);;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">日志管理</span>
								<span class="arrow open"></span>
								<span class="selected"></span>
								</a>
								<ul class="sub">
									<li class="current"><a  href="javascript:void(0);" data-href="{:U('Log/index')}" target="myFrame_content"><span class="sub-menu-text">日志管理</span></a></li>
								</ul>
							</li>
                            
                            
							
							
							
						</ul>
						<!-- /SIDEBAR MENU -->
					</div>
				</div>