<include file="Public:page_head" />
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
*{
	font-family:'微软雅黑';
	}
.home_info li em {
float: left;
width: 150px;
font-style: normal;
}
li {
list-style: none;
line-height:25px;
}
.well{
  padding: 13px;
  margin-bottom: 10px;
	}
.progress{
	margin-bottom: 5px;
	}
</style>
<div class="wrap">
  <div id="home_toptip"></div>
  <h4 class="well"><span style="margin-top:4px;" class="icon-th"></span> 后台管理系统</h4>
</div>
<include file="Public:page_foot" />
