/***************�㳡����ҳ********************/
.banner_h{height: 283px;}
.banner{width: 100%;height: auto;z-index: 2;}.banner img{ margin-top: 4.5em;}
.checkout{width:100%;height: 142px;background: url("../images/ba_bot_bg.jpg") no-repeat top center;background-size: cover;margin-top: 10px;}
.checkout a{display: inline-block;color: #fff;font-size: 0.81rem;width: 80px; height: 30px;line-height: 30px;text-align: center;background: #93612e;border-radius: 3px;margin: 84px 0 0 66%;}
.nav{width: 100%;height: 5em;background: #ca192b;overflow: hidden;} 
.nav ul li{width: 33%;height: 5em;float: left;font-size: 1rem;line-height: 3.3em;border-right: 1px solid #d85764;}
.nav ul li a{color: #ffffff;}
.nav ul li span{text-align: center;display: inline-block;}
.nav ul li:nth-child(1) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
.nav ul li:nth-child(2) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
.nav ul li:nth-child(3) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
@media only screen and (max-width : 375px) {
    .nav ul li:nth-child(1) img{margin-left:11%;margin-right:11%;}
    .nav ul li:nth-child(2) img{margin-left:11%;margin-right:11%;}
    .nav ul li:nth-child(3) img{margin-left:11%;margin-right:11%;}
    }
@media only screen and (max-width : 414px) {
	.checkout a{margin: 88px 0 0 64%;}
}
@media only screen and (max-width : 320px) {
    .nav ul li:nth-child(1) img{margin-left:8%;margin-right:8%;}
    .nav ul li:nth-child(2) img{margin-left:8%;margin-right:8%;}
    .nav ul li:nth-child(3) img{margin-left:7%;margin-right:7%;}
    .checkout a{margin: 84px 0 0 66%;}
}
.nav ul li:nth-child(3){border: none !important;}

/******������Ƶ��ǰҳ�浼��*****/
.nav1{width: 100%;height: 5em;background: #e5e5e5;overflow: hidden;float: left;margin-top: 0.1em;}
.nav1 ul li{width: 33%;height: 5em;float: left;font-size: 1rem;line-height: 3.3em;border-right: 1px solid #eeeeee;}
.nav1 ul li a{color: #4a4a4a;}
.active{background: #ca192b;}
.active a span{color: #ffffff;}
.nav1 ul li span{text-align: center;display: inline-block;}
.nav1 ul li:nth-child(1) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
.nav1 ul li:nth-child(2) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
.nav1 ul li:nth-child(3) img{margin-left:13%;margin-right:13%;vertical-align: middle;}
.nav1 ul li:nth-child(3){border: none !important;padding-left: 0.11em;}

@media only screen and (max-width : 375px) {
    .nav1 ul li:nth-child(1) img{margin-left:11%;margin-right:11%;}
    .nav1 ul li:nth-child(2) img{margin-left:11%;margin-right:11%;}
    .nav1 ul li:nth-child(3) img{margin-left:11%;margin-right:11%;}
}
@media only screen and (max-width : 320px) {
    .nav1 ul li:nth-child(1) img{margin-left:8%;margin-right:8%;}
    .nav1 ul li:nth-child(2) img{margin-left:8%;margin-right:8%;}
    .nav1 ul li:nth-child(3) img{margin-left:7%;margin-right:7%;}
}

/*首页 城市  开始*/
.s_ind_city{
	height: auto;
	padding-top: 20px;
	position: relative;
}
.s_ind_city:after{
	content: "";
	position: absolute;
	width: 93%;
	left: 3%;
	top: 0;
	height: 1px;
	border-top: 1px solid #999;
}
.s_ind_city ul li{
	width: 45%;
	float: left;
    margin-left: 3%;
    margin-bottom: 14px;
    line-height: 0;
}
.s_ind_city ul li span{
	display: block;
	color: #333;
	font-size: 0.87rem;
	height: 38px;
	line-height: 38px;
	background: #f6f6f6;
	text-align: center;
}

.s_ind_eq{
	width: 90%;
	margin: 26px auto;
}
/***************��������ʼ********************/

.qgsp{padding-top: 0.7em;font-size: 1.3rem;color: #ca192b;text-align: center;}
.djs{padding-top: 10px;font-size: 1.3rem;font-weight: bolder;color: #000000;}
.djs>span{font-size: 3rem;margin: 0 0.5em;color: #ca192b;}
.count{width: 100%;height: auto;background:#ffffff;text-align: center;padding-bottom: 1em;}
.count>ul{width: 100%;padding-top: 9em;padding-bottom: 1em;overflow: hidden;}
.count>ul li{width: 45%;float: left;margin-left: 3%;border: 1px solid #e6e6e6;margin-top: 10px;}
.mb1{width:100%;height:30px;background: #000000;opacity: 0.7;color: #ffffff;font-size: 1rem;line-height:30px; position: relative;margin-top: -33px;}
.count>ul li a p{width:100%;height:2.5em;background:#ca192b;line-height: 2.5em;color: #ffffff;font-size: 1rem;}
.count>ul li a p img{vertical-align: top;margin-left:5px;margin-top: 10px;}
.count>ul li a p span{padding-left:10px;}

/*******������******/
.count1{width: 100%;height: auto;background:#ffffff;text-align: center;padding-bottom: 1em;margin-top: 46px}
.count1>ul{width: 100%;padding-top: 1em;padding-bottom: 1em;overflow: hidden;}
.count1>ul li{width: 45%;float: left;margin-left: 3%;border: 1px solid #e6e6e6;margin-top: 10px;}
.count1>ul li a p{width:100%;height:2.5em;background:#ca192b;line-height: 2.5em;color: #ffffff;font-size: 1rem;}
.count1>ul li a p img{vertical-align: top;margin-left:5px;margin-top: 10px;}
.count1>ul li a p span{padding-left:10px;}



/*******������Ѷ**********/
.counsel{width: 100%;height: auto;padding-bottom: 3em;background: #f6f6f6;}
.counsel-whitebg{width: 100%;height: auto;background: #ffffff;}
.counsel-ul{width: 98%;margin-left: 2%;padding: 1em 0 0.7em;overflow: hidden;border-bottom: 1px solid #eeeeee;}
.counsel-ul li:nth-child(1){width:25%;float: left;}
.counsel-ul li:nth-child(2){width: 72%;font-size:0.8rem;float: left;color: #888888;margin-left: 2%;line-height: 1.6em;}
.counsel-ul li:nth-child(2) p{font-size: 1rem;color: #333333;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.counsel-ul li:nth-child(2) span{width: 100%;height:40px;overflow: hidden;display: block;color: #888888;margin-top: 0.2em;}
/*******�Ƽ���Ƶ**********/
.frequency{width: 100%;height: auto;background:#ffffff;padding-bottom: 1em;}
.frequency-graybg{width: 100%;height: auto;background:#f6f6f6;padding-bottom: 1em;margin-top: 1em;}
.frequency-ul{width: 96%;margin: auto;padding: 1em 0;overflow: hidden;}
.frequency-ul li{float: left;line-height: 1.7em;color: #888888;}
.frequency-ul .img1{width: 26%;margin-left: 9%;}
.frequency-ul .img1 img{width:105px;height:105px;border-radius: 50%;-webkit-border-radius: 50%;-khtml-border-radius:50%;-moz-border-radius: 50%;}
@media only screen and (max-width : 320px) {
    .frequency-ul .img1 img{width:85px;height:85px;}
}
.frequency-ul .font1{width: 65%;font-size:0.8rem;margin-top: 0.6em;text-align: right;}
.frequency-ul .font1 p{width:100%; height:25px;font-size: 1rem;color: #333333;overflow: hidden;}
.frequency-ul .font1 span{width:100%; height:60px;overflow: hidden;display: block;}


.frequency-ul .img2{width: 26%;margin-right: 9%;}
.frequency-ul .img2 img{width:105px;height:105px;border-radius: 50%;-webkit-border-radius: 50%;-khtml-border-radius:50%;-moz-border-radius: 50%;}
@media only screen and (max-width : 320px) {
    .frequency-ul .img2 img{width:85px;height:85px;}
}
.frequency-ul .font2{width: 65%;font-size:0.8rem;margin-top: 0.6em;text-align: left;}
.frequency-ul .font2 p{width:100%; height:25px;font-size: 1rem;color: #333333;overflow: hidden;}
.frequency-ul .font2 span{width:100%; height:60px;overflow: hidden;display: block;}

/*******���췽����**********/
.introduce{width: 100%;height: auto;background: url("../images/introduce.png") repeat;background-size: 100% auto;}
.introduce ul{width: 96%;margin: auto;}
.introduce-title{color: #ca192b;font-weight: bolder;font-size: 1.3rem;text-align: center;padding: 1em 0;}
.introduce-del{color: #5f5c5c;font-size: 0.9rem;padding: 1em 0;line-height: 1.6em;}
.introduce-del span{width: 100%;height: 90px;display:inline-block;overflow: hidden;}
    /*******������֪**********/
.metagame{width: 100%;height: auto;background: url("../images/metagame.png") repeat;background-size: 100% auto;margin-top: 2em;}
.metagame ul{width: 96%;margin: auto;}


/***************��Ƶ����ҳ��********************/
.video{width: 100%;height: auto;background: #ffffff;border-bottom: 1px solid #e8e8e8;}
.video p{width: 90%;margin:auto;font-size: 1.1rem;color: #565756;font-weight:bolder;padding: 1em 0;overflow: hidden;}
.vote p{font-size: 1.1rem;padding-top: 0.5em;}
.vote{width: 100%;height: auto;background: #ffffff;border-bottom: 1px solid #e8e8e8;border-top: 1px solid #e8e8e8;margin-top: 1em;}
.vote ul{width: 90%;margin:auto;font-size: 1.1rem;color: #454545;padding: 0.5em 0;overflow: hidden;}
.vote ul>li:nth-child(1){width: 60%;float: left;}
.vote ul li p:nth-child(1){background: url("../images/adress.png") left bottom no-repeat;background-size:15px 19px;padding-left:14%;}
.vote ul li p:nth-child(2){background: url("../images/community.png") left bottom no-repeat;background-size:18px 18px;padding-left:14%;}
.vote ul li p:nth-child(3){background: url("../images/take.png") left no-repeat;background-size:18px 18px;padding-left:13%;}
.vote ul .tp{width: 40%;height:2em;margin-top:0.5em;padding-top:8%;float: right; font-size:0.90rem;text-align: center;line-height: 2.2em;color: #ffffff;background: #ca192b;}
.vote ul .praise{background: #ca192b url("../images/praise.png") no-repeat;background-position:50% 17%;background-size:18px 18px;}
.team{width: 100%;height: auto;background: #ffffff;margin-top: 1em;border-bottom: 1px solid #eeeeee;border-top: 1px solid #eeeeee;}
.team ul{width: 93%;margin:auto;padding: 1em 0;font-size: 1.4em;}
.team ul li span{background:url("../images/team.png") left center no-repeat;background-size:5px 20px;padding-left:16px;color: #ff6600;font-size: 1.2rem;}
.team ul li p{display: block;color: #7f7f7f;line-height: 1.7em;margin-top: 1em;font-size: 1rem;}



/***************������Ѷ-����ҳ********************/
.finals-top{padding-top: 5em;}
.finals{width: 100%;height: auto;background:#ffffff;color: #888888;}
.finals>p:nth-child(1){font-size: 1.2rem;color: #2b2b2b;text-align: center;padding: 1em 0 0.5em 0;}
.finals>p:nth-child(2){font-size: 1rem;color: #9e9e9e;text-align: center;padding: 0.5em;}
.finals ul{width: 94%;margin: auto;}
.finals ul li{font-size: 1rem;line-height: 1.7em;padding: 1em 0;}
.finals ul li div{ width:100%!important; }

/**********�ɹ�������****/
.roll-nav{display: none;width: 100%;overflow:hidden;height:54px;background: #f6f6f6;margin-top: 55px; border: 1px solid #eeeeee;-webkit-overflow-scrolling : touch; }
.nav-none{width: 98%;overflow:auto;height:54px;}
.nav-none table{width:100%;height:54px;overflow:hidden;}
.nav-none table tr td{text-align:left; padding-left: 0.25rem;}
.nav-none table tr td a{color: #747272;font-size: 0.97rem;margin-right: 0.5em; display: inline-block;}
.nav-none table tr td a:hover {color: #ca192b;}
/*CSS scott style pagination*/
DIV.scott {TEXT-ALIGN: center;display:block;padding:20px 0;width: 100%;margin: auto;  }
DIV.scott .pagination{width: auto;_display: block;display: inline-block;}
DIV.scott .pagination>li{float: left;margin: 0 0;width: 40px !important;}
DIV.scott A {
    background: #e9e9e9;color: #000000;float:left;margin-left: 5px;width: 37px;height: 40px;line-height: 40px;
}
DIV.scott span{float:left;}
DIV.scott A:hover {
    background: #ff0000;color: #000000;
}
DIV.scott A:active {
    background: #ff8000;color: #000000;
}
DIV.scott .active a{background: #ff8000;color: #000000;}
DIV.scott li.current {
    background: #ff8000;
    color: #000000;
}
/***����ҳ��****/
.back { height:5em; position:absolute; top:0; left:1em;}
.back img { width: 17px; height: 28px; float:left; margin-top:1.2em}
.name{width: 80%;height:1.2em;color: #ffffff;text-align:center;line-height:1.2em;margin: 0.8em 10%;display: block; font-size: 1.2rem;overflow: hidden;}




    /*---------------��Ըǽ----------------*/
    .body-bg {width:100%; height:auto;}
    .gw-data { width:100%;}
    .gw-data ul { width:85%; padding:0 3%;  overflow:hidden;margin: auto;}
    .gw-li-3 { width:100%; border-bottom:1px solid #e8e8e8; float:left; }
    .gw-li-3 span { font-size:2.12em; float:left;color:#ca192b;}
    .gw-li-3 .img-jt { width:65%; float:right; overflow:hidden}
    .gw-li-3 .img-jt1 { width:86%; background:url(images/ip_right.png) right center no-repeat;padding-bottom: 1em; float:left; padding-right:10%;}
    .gw-li-3 .img-jt1 img { float:right;}
    .gw-select { width:100%; height:100%;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; background:none; border:none; outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0); position:absolute;}
    .gw-li-1 { width:100%; height:4.5em; border-bottom:1px solid #e3e3e3; float:left; background:url(../images/ip_right.png) right center no-repeat}
    .gw-li-1 span { height:4.5em; line-height:2.5em; font-size:2.12em; float:left; color:#ca192b;}
    .gw-li-1 .input { width:65%; float:right; height:4.5em; text-align:right; color:#cccccc; border:none}
    .gw-li-1 .input-1 { width:86%; height:100%; font-size:2em; line-height:2.6em; color:#cccccc; text-align:right; background:none; border:none; padding-right:14%;-webkit-tap-highlight-color:rgba(0,0,0,0); outline:none}
    .gw-li-1 .input-2 { width:86%; height:100%; font-size:2em; line-height:2.6em; color:#cccccc; text-align:right; border:none; padding-right:10%; outline:none; background: none; margin:0 4% 0 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}

    .gw-li-2 { width:100%; border-bottom:1px solid #e8e8e8; float:left; }
    .gw-li-2 span { font-size:2.12em; padding:0.8em 0 0.5em 0; float:left;color:#ca192b;}
    .gw-li-2 textarea { width:100%; height:3em; float:left; background:none; border:none; font-size:2em; color:#cccccc!important; overflow:hidden;}
    .input-3{width: 100%;height: 2.5em;background: #ca192b;color: #ffffff; border:none;overflow: hidden;margin-top: 1em;font-size: 2em;border-radius: 5px;margin-bottom: 1em;}
    
    
    
    
/* M */
.m_index_newslist {
	clear: both;
	overflow: hidden;
}
.m_inl_thumb {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
}

.list_sm_plan{
	width: 94%;
	margin: 10px auto;
}
.list_sm_plan img{
	width: 100%;
}

/*问题列表*/ 
.question.active{
    padding:20px 3%;
    position: relative;
}
.question.disabled{
    padding:0 3%;
    position: relative;
}
.question-container .question.disabled h3{
    text-overflow:ellipsis;
    font-size: 16px;
    height: 60px;
    white-space:nowrap;
    overflow:hidden;
    line-height: 60px;
    margin: 0;
}
.question-container .question h3 .question-no{
    margin-right: 5px;
}
.question-container .question.disabled .question-options {
    display: none;
}
.question-container .question {
    border-bottom: 1px solid #EEE;
}
.question-options ul {
    margin: 0;
    padding: 0;
}
.question-options li {
    font-weight: bold;
}
.question-options li {
    list-style: none;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color: #195428;
    cursor: pointer;
    border: 1px solid #195428;
    background: #FFFFFF;
    margin-left: -1px;
}
.question-options li:nth-child(1) {
        border-radius: 6px 0 0 6px;
}
.question-options li:nth-last-child(1){
    border-radius: 0 6px 6px 0 ;
}
.question-options li.active {
    background: #195428;
    border-right: 1px solid #195428;
    margin-left: -1px;
    color: #FFF;
}
.col-xs-2-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
}

/*active*/
.question-container .question.active h3 {
    height: 130px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    line-height: 160%;
    color: #195428;
    margin: 0;
}
.question-container .question.active h3 .question-no {
    font-size: 20px;
    font-weight: normal;
    display: block;
     position: absolute;
    left: 20px;
    top: 20px;
}
.question-container .question.active h3 .question-no b {
    font-size: 22px;
}
.question-options-more .col-xs-2-5{
    width: 80%;
}
.question-options-more ul li{
    border-radius: 6px !important;
    margin-bottom: 7px;
}

.question-container .question.h_active h3{
    height: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.question-container .question.h_active h3 .question-no{
    display: inline;
    position: static;
}

.question-container .question.h_active h3 .question-no b{
    font-weight: normal;
    font-size: 20px;
}

.put_on{
    width: 70%;
    margin: 50px auto 0;
}
.put_on input{
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #195428;
    padding-bottom: 50px;
    border-radius: 6px;
}
.sex{
    height: 48px;
    margin-top: 12px;
}
.sex li{
    float: left;
    width: 45%;
    margin-left: 3%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color: #666;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.sex li.active{
    color: #195428;
     border: 1px solid #195428;
}


.tm{
    height: 3em;
}
.top-menu { width:100%; height:4.5em;background:#ca192b; z-index:1;max-width:640px;position: fixed;}
.back { height:3em; position:absolute; top:0.8em; left:1em;}
.back img { width: 10px; height: 20px; float:left; margin-top:0.7em}
.name{width: 80%;height:1.2em;color: #ffffff;text-align:center;line-height:1em;margin: 0.8em 10%;display: block; font-size: 1.2rem;overflow: hidden;}
.top-menu-fd-a{
	position: fixed;
	left: 0;
	top: 0;
}
.my_bo{
    height: 52px;
    background: #f1f0f0;
}
.my_bo div{
    height: 42px;
    color: #999;
    font-size: 12px;
    line-height: 42px;
    background: #fff;
    padding-left: 3%;
    overflow: hidden;
}
.my_bo div span{
    color: #195428;
    font-size: 16px;
    margin-left: 10px;
}
.s_datagram{
    padding-top: 20px;
    border-bottom: 1px solid #bbb;
}
.s_datagram h4{
    color: #195428;
    font-size: 0.93rem;
}
.s_de_con li{
    color: #333;
    font-size: 0.87rem;
    line-height: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #bbb;
}
.s_de_con li h4{
    color: #195428;
    font-size: 16px;
    margin-bottom: 10px;
}
.s_de_con li div{
    color: #333;
    font-size: 0.87rem;
    margin-bottom: 10px;
}
.s_de_con li div img{
    margin-right: 10px;
}
.s_again{
    width: 70%;
    height: 38px;
    line-height: 38px;
    background: #195428;
    border-radius: 19px;
    text-align: center;
    margin: 20px auto 0;
}
.s_again a{
    display: block;
    color: #fff;
    font-size: 0.93rem;
}
.s_five_an{
    margin: 22px auto;
}
.s_five_an h4{
    font-size: 16px;
    color: #195428;
    margin-bottom: 10px;
}
.s_five_an ul li{
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    color: #333;
    font-size: 0.87rem;
    padding-left: 20px;
    background: #f2f2f2;
    margin-bottom: 6px;
}
.s_footer{
    width: 100%;
    height: 140px;
    background: url(../images/s_footer_plan.jpg) no-repeat top center;
    background-size: cover;
    text-align: right;
}
.s_footer img{
    margin: 20px 20px 0 0;
}


/*用药指南2*/
.b_lin{
    border: none;
}
.s_feature{
    border-top: 1px solid #bbb;
}
.s_feat_item{
    color: #195428;
    font-size: 16px;
    padding: 0 3%;
    height: 46px;
    line-height: 46px;
}
.s_feat_item span{
    float: right;
    width: 15px;
    height: 8px;
    background: url(../images/let_down.png) no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.s_feature.active .s_feat_item{
    color: #fff;
    background: #04842f;
}
.s_feature.active .s_feat_item span{
    background: url(../images/let_up.png) no-repeat;
    background-size: cover;
}
.s_feature .disabled{
    display: none;
}
.s_feature .s_de_con li:last-child{
    border: none;
}
.s_feature_box .s_feature:last-child{
    border-bottom: 1px solid #bbb;
}
.yyzn_02{
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
}



/*精彩瞬间*/
.st_box{
	height: 44px;
	
}
.s_top{
	width: 100%;
	position: fixed;
	
	left: 0;
	top: 0;
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 1.06rem;
	background: #ca192b;
	text-align: center;
	z-index: 33;
}
.w94{
	width: 94vw;
	margin: 0 auto;
}
.s_nav{
	height: 45px;
	
	
}
.s_nav_box{
	display: flex;
	justify-content: space-between;
}
.s_nav_box>li{
	width: 85px;
	color: #666;
	font-size: 0.93rem;
	line-height: 45px;
	background: url(../images/s_jt_01.png) no-repeat right center;
	background-size: 7px 12px;
}
.s_nav_box>li.active{
	background: url(../images/s_jt_02.png) no-repeat right center;
	background-size: 12px 6px;
}
.s_nav_box>li dd{
	width: 100%;
}
.s_sec_nav{
	background: #fff;
}
.s_sec_nav ul{
	border-top: 1px solid #f0f0f0;
}
.s_sec_nav ul li{
	height: 30px;
	font-size: 0.75rem;
	line-height: 30px;
	padding: 0 30px;
	border-bottom: 1px solid #f0f0f0;
}
.s_sec_nav ul li a.active{
	background: #fff;
}
.s_jc_tit{
	height: 42px;
	line-height: 42px;
	background: #efefef;
	padding: 0 3vw;
}
.s_jc_tit a{
	float: right;
	font-size: 16px;
}
.s_jc_tit span{
	display: inline-block;
	padding-left: 8px;
	line-height: 14px;
	border-left: 3px solid #ca192b;
	font-size: 16px;
}
.s_jc_list{
	margin-top: 12px;
}
.s_jc_list li{
	float: left;
	width: 45%;
	margin-left: 3%;
	background: #e2e2e2;
	padding-bottom: 10px;
	margin-bottom: 12px;
}
.s_jc_list li .f_cite{
	position: relative;
}
.s_jc_list li .f_cite img{
	width: 100%;
	height: 132px;
	overflow: hidden;
}
.s_jc_list li .f_cite i{
	font-style: normal;
	width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    font-size: 0.75rem;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
}

.s_jc_list li span{
	display: block;
	color: #666;
	font-size: 0.87rem;
	margin-top: 10px;
	padding: 0 6px;
	height: 19px;
	overflow: hidden;
}


/*公共  分页*/

.pagination {
	display: block;
	margin: 80px 0 0;
	font-size: 0px;
	line-height: normal;
	text-align: center;
}
.pagination li {
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;
}
.pagination li a, .pagination li span {
	display: block;
	color: #010101;
	padding: 10px 16px;
	border-radius: 5px !important;
	background: #fafafa;
}
.pagination li a:hover, .pagination li.active a, .pagination li.active a:hover, .pagination li.active a:focus {
	color: #FFF;
	background: #ca192b;
	border-color: #ca192b;
}

.back{
	float: left;
}
