<include file="Admin@Public:page_head" />
<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('AdImages/AdImages/index')}">图片集管理</a></li>
			<li><a href="{:U('AdImages/AdImages/add')}">添加图片</a></li>
			<li><a href="{:U('AdImages/AdImages/Category_index')}">分类管理</a></li>
			<li class="active"><a href="#">修改分类</a></li>
		</ul>
		<form class="form-horizontal J_ajaxForm" name="myform" id="myform" action="{:U('AdminPublic/Category/category_update')}" method="post">
        <input name="id" type="hidden" value="{$category_info.id}" />
			<div class="tabbable">
		        <div class="tab-content">
		          		<table cellpadding="2" cellspacing="2" width="100%">
							<tbody>
								<tr>
									<td width="150">名称:</td>
								  <td><input type="text" class="input" name="name" value="{$category_info.name}" required /><span class="must_red">*</span></td>
							  </tr>
								<tr>
									<td width="150">排序:</td>
								  <td><input type="text" class="input" name="sort" value="{$category_info.sort}" /></td>
							  </tr>
							</tbody>
						</table>
		        </div>
		    </div>
		     <div class="form-actions">
		           <button class="btn btn-primary btn_submit J_ajax_submit_btn"type="submit">提交</button>
		      		<a class="btn" href="{:U('AdminPublic/Category/index')}">返回</a>
		      </div>
		</form>
	</div>

<include file="Admin@Public:page_foot" />
