<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html style="width:100%; height:100%;">
<head>
    <title>{:l("ERROR")}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="{$waitSecond};URL={$jumpUrl}" />
</head>
<body style="width:98%;">
<table width="98%" border="0" cellspacing="0" cellpadding="0" style="height:90%;">
  <tr>
    <td align="center"><img src="__TMPL__Common/images/Failure.png" /><br /><?php if(isset($message)) {?><p class="success"><?php echo($message); ?></p><?php }else{?><p class="error"><?php echo($error); ?></p>
<?php }?></td>
  </tr>
  <tr>
    <td align="center"></td>
  </tr>
  
  
</table>
</body>
</html>
