<include file="Admin@Public:page_head" />
<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">报名管理</a></li>
		</ul>
		<form method="post" class="J_ajaxForm" action="{:U('Message/Message/update_sort')}">
		<div class="table-actions">
					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Message/Message/foreverdelete')}" data-subcheck="true">删除</button>
			</div>

            <html:list  id="dataTable"
                        style="table table-hover table-bordered table-list"
                        name="list"
                        checkbox="true"
                        action="true"
                        title="报名"
                        datasource="list"
                        pagelist="{$page}"
           show="id:ID
          		,name:姓名
          		,age:年龄
          		,tel:电话
          		,address:地址
          		,bm_num:报名人数
                ,time|turn_time:添加时间"
                actionlist="foreverdel:删除"/>
		<div class="table-actions">
					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Message/Message/foreverdelete')}" data-subcheck="true">删除</button>
			</div>
            <include file="Admin@Public:page" />
		</form>
	</div>

<include file="Admin@Public:page_foot" />
