<include file="Admin@Public:page_head" />

<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('Archives/Archives/index',array('channeltype_id'=>$channeltype_id))}">{$arctype_channel_info.name}管理</a></li>
			<li><a href="{:U('Archives/Archives/add',array('channeltype_id'=>$channeltype_id))}">添加{$arctype_channel_info.name}</a></li>
			<li class="active"><a href="{:U('Archives/Archives/del_index',array('channeltype_id'=>$channeltype_id))}">回收站</a></li>
		</ul>
		<form method="post" class="J_ajaxForm" action="{:U('Archives/Archives/update_sort')}">
        <div class="table-actions">
                <button class="btn btn-primary btn-small" type="button" onclick="redel();" data-action="{:U('Archives/Archives/re_delete')}" data-subcheck="true">恢复</button>
			</div>

            <html:list  id="dataTable"
                        style="table table-hover table-bordered table-list"
                        name="list"
                        checkbox="true"
                        action="true"
                        title="上线项目"
                        datasource="list"
                        pagelist="{$page}"
           show="id:ID
          		,title:标题
          		,arctype_id:栏目
          		,admin_id|show_admin_username:发布人
          		,is_effect|check_effect:状态
                ,time|turn_time:添加时间
                ,end_time|show_turn_time:显示截止时间"
                actionlist="redel:恢复"/>
            <include file="Public:page" />
		</form>
	</div>

<include file="Admin@Public:page_foot" />
