<include file="Admin@Public:page_head" />
<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('Huaxu/Huaxu/index')}">社区赛管理</a></li>
			<li><a href="{:U('Huaxu/Huaxu/add')}">添加社区赛</a></li>
		</ul>
		<form method="post" class="J_ajaxForm" action="{:U('Huaxu/Huaxu/update_sort')}">
		<div class="table-actions">
					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Huaxu/Huaxu/foreverdelete')}" data-subcheck="true">删除</button>
			</div>
      <html:list  id="dataTable"
                  style="table table-hover table-bordered table-list"
                  name="list"
                  checkbox="true"
                  action="true"
                  title="上线项目"
                  datasource="list"
                  pagelist="{$page}"
            show="id:ID
                ,location_id|show_location_name:城市
            		,lanmu_type|show_C='LANMU_TYPE':栏目
                ,type|show_C='TYPE':类型
            		,title:标题
            		,pic|show_img:图片
                ,time|turn_time:添加时间"
                actionlist="edit:修改, foreverdel:删除"/>

		<div class="table-actions">

					<button class="btn btn-primary btn-small" type="button" onclick="foreverdel();" data-action="{:U('Huaxu/Huaxu/foreverdelete')}" data-subcheck="true">删除</button>
			</div>
            <include file="Admin@Public:page" />
		</form>
	</div>
<include file="Admin@Public:page_foot" />