<include file="Admin@Public:page_head" />
<div style="width:1000px; margin:auto; padding:20px;">
成都：{$chengdu_sum}票<br />东坡街道：{$z_sum1}票<br />黄忠街道：{$z_sum2}票<br />三圣街道：{$z_sum3}票<br />保和街道：{$z_sum4}票<br />新繁街道：{$z_sum5}票<hr />

武汉：{$wuhan_sum}票<br />开发区：{$wuhan_sum1}票<br />江汉区：{$wuhan_sum2}票<br />汉阳区：{$wuhan_sum3}票<br />黄陂区：{$wuhan_sum4}票<br />硚口区：{$wuhan_sum5}票<hr />

广州：{$guangzhou_sum}票<br />丽江花园：{$guangzhou_sum1}票<br />沙园街道：{$guangzhou_sum2}票<br />江南中街道：{$guangzhou_sum3}票<br />越秀公园：{$guangzhou_sum4}票<br />琶洲新村：{$guangzhou_sum5}票<hr />

扬州：{$yangzhou_sum}票<br />李宁体育公园：{$yangzhou_sum1}票<br />半岛公园：{$yangzhou_sum2}票<br />四季园小区：{$yangzhou_sum3}票<br />李典镇：{$yangzhou_sum4}票<br />竹西文化广场：{$yangzhou_sum5}票<hr />

北京：{$beijing_sum}票<br />呼家楼：{$beijing_sum1}票<br />朝外街：{$beijing_sum2}票<br />广外街：{$beijing_sum3}票<br />永外街：{$beijing_sum4}票<br />三里屯：{$beijing_sum5}票<hr />

西安：{$xian_sum}票<br />未央区：{$xian_sum1}票<br />莲湖区：{$xian_sum2}票<br />新城区：{$xian_sum3}票<br />雁塔区：{$xian_sum4}票<br />高陵区：{$xian_sum5}票<hr />

太原：{$taiyuan_sum}票<br />大北门西社区：{$taiyuan_sum1}票<br />程家村西社区：{$taiyuan_sum2}票<br />胜利西街社区：{$taiyuan_sum3}票<br />北大街中社区：{$taiyuan_sum4}票<br />北大街东社区：{$taiyuan_sum5}票<hr />

郑州：{$zhengzhou_sum}票<br />分区：{$zhengzhou_sum1}票<br />分区：{$zhengzhou_sum2}票<br />分区：{$zhengzhou_sum3}票<br />分区：{$zhengzhou_sum4}票<br />分区：{$zhengzhou_sum5}票<hr />

呼和浩特：{$hhht_sum}票<br />分区：{$hhht_sum1}票<br />分区：{$hhht_sum2}票<br />分区：{$hhht_sum3}票<br />分区：{$hhht_sum4}票<br />分区：{$hhht_sum5}票<hr />

长春：{$changchun_sum}票<br />分区：{$changchun_sum1}票<br />分区：{$changchun_sum2}票<br />分区：{$changchun_sum3}票<br />分区：{$changchun_sum4}票<br />分区：{$changchun_sum5}票<hr />
</div>